domain-needed
bogus-priv
strict-order
no-resolv

server=192.168.1.1
server=8.8.8.8
server=4.4.4.4

address=/head.cluster/10.0.0.1
{% for mac in mac_addresses %}
address=/worker{{ loop.index }}.cluster/10.0.0.{{ loop.index+1 }}
{% endfor %}
address=/.cluster/10.0.0.1

interface=eth0

expand-hosts
domain=cluster

dhcp-range=10.0.0.50,10.0.0.150,12h
dhcp-range=10.0.0.0,static

{% for mac in mac_addresses %}
dhcp-host={{ mac }},worker{{ loop.index }},10.0.0.{{ loop.index+1}},infinite
{% endfor %}

pxe-service=0,"Raspberry Pi Boot"
enable-tftp
tftp-root=/tftpboot
tftp-unique-root=mac
